<footer class="bg-gray-900 text-white py-6 mt-auto">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 flex justify-between items-center">
    <p>&copy; 2025 Annotathon. All rights reserved.</p>
    <div class="flex space-x-4">
      <a href="https://facebook.com" class="text-gray-400 hover:text-white"><i class="fab fa-facebook"></i></a>
      <a href="https://twitter.com" class="text-gray-400 hover:text-white"><i class="fab fa-twitter"></i></a>
      <a href="https://linkedin.com" class="text-gray-400 hover:text-white"><i class="fab fa-linkedin"></i></a>
    </div>
  </div>
</footer>
